<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="yalla app">
    <test name="yalla app collection">
        <classes>
            <class name="io.paysky.qa.yalla.LoginTest"/>
            <class name="io.paysky.qa.yalla.InvestRegTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
</suite>